In [1]:
import pandas as pd
import os
import numpy as np
import csv
import random
from datetime import date

## Import data

In [5]:
Yelp_Business = pd.read_csv('data/yelp_business.csv')

In [22]:
df_zip_filtered = pd.read_csv('data/clustered_df.csv')
df_zip_filtered = df_zip_filtered.drop(columns=['Unnamed: 0'])

In [23]:
zip_filtered = df_zip_label['postal_code']
zip_filtered = zip_filtered.unique()
zip_filtered = zip_filtered.tolist()
zip_filtered = map(str,zip_filtered)
Yelp_Filtered = Yelp_Business[Yelp_Business['postal_code'].isin(zip_filtered)]

In [9]:
ListCategories = pd.read_excel('data/ListOfCategories.xlsx', sheet_name='AllCategories', skip_blank_lines=True, encoding='utf-8', usecols = "A,B,X")

In [10]:
Yelp_Filtered_C = pd.merge(ListCategories, Yelp_Filtered, left_on=('FullList'), right_on=('categories'))
Yelp_Filtered_C = Yelp_Filtered_C.drop(columns=['FullList'])

In [11]:
BusHours = pd.read_csv('data/Pheonix_BusinessHour_r.csv')

In [12]:
Yelp_Filtered_C_BH = pd.merge(BusHours, Yelp_Filtered_C, on='business_id')

In [24]:
df_zip_filtered.head()

   postal_code  label
0        85003      0
1        85001      0
2        85002      0
3        85004     -1
4        85030      0

In [13]:
# Yelp_Reviews_Phoenix = pd.read_csv('BlueAreaData/data/Yelp_Reviews_Phoenix.csv')
#Yelp_Blue_Area_c_reviews = pd.merge(Yelp_Blue_Area_c_bh,Yelp_Reviews_Phoenix, on='business_id' )

In [28]:
df_zip_label['postal_code'] = df_zip_label['postal_code'].astype(int)
Yelp_Filtered_C_BH['postal_code'] = Yelp_Filtered_C_BH['postal_code'].astype(int)
Yelp_Filtered_C_BH_L = pd.merge(Yelp_Filtered_C_BH,df_zip_filtered, on='postal_code')

In [16]:
Yelp_Filtered_C_BH.head()

,business_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,Shortlisted?,ProjectCategory,...,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,IPdJS6sF45RE5T93y9nQ4w,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Diner,...,"""1401 N 75th Ave""",Phoenix,AZ,85043,33.464143,-112.220098,2.5,27,1,American (New);American (Traditional);Diners;B...
1,7mFNJCgmZCiSjv2mzoP1Cg,11.0,11.0,11.0,11.0,12.0,12.0,11.0,Yes,Mexican,...,"""12660 N Tatum""",Phoenix,AZ,85032,33.602717,-111.979256,3.0,92,1,American (New);American (Traditional);Nightlif...
2,oqEFEEKsESYuCjhDzrCuEg,16.0,16.0,16.0,16.0,16.0,15.0,15.0,Yes,Other,...,"""10 E Thomas Rd""",Phoenix,AZ,85012,33.480700,-112.072288,3.0,7,1,American (New);American (Traditional);Restaurants
3,rrEdMe05VYoLju96bA_jzA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Other,...,"""711 E Carefree Hwy""",Phoenix,AZ,85085,33.797710,-112.063690,4.0,50,1,American (New);American (Traditional);Restaurants
4,u6biYZCSOwyQ-WmXqQbbQA,11.0,11.0,11.0,11.0,11.0,12.0,11.0,Yes,Diner,...,"""300 W Camelback Rd""",Phoenix,AZ,85013,33.509547,-112.078698,3.5,448,1,American (New);American (Traditional);Southern...

In [30]:

Yelp_Filtered_C_BH_L.to_csv('data/Yelp_Cluster_label.csv')